.image_portfolio {
    display: flex;
    justify-content: center;
    background-color: #F4F4FD;
    padding: 120px 0;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/portf/ChatGPT\ Image\ 24\ апр.\ 2025\ г.\,\ 23_57_10.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1158px;
    margin: 0 auto;
    margin-bottom: 150px;
}
.h1 {
    color: white;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 8px;

}
.text_image_portfolio {
    font-weight: 400;
    font-size: 15px;
    line-height: 151%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.btn_image_portfolio {
    margin-top: 48px;
    border: none;
    padding: 15px 35px 16px 35px;
    width: 169px;
    height: 56px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}
.h2_title {
    margin-bottom: 72px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}
.overview_ul {
    
    display: flex;
    gap: 24px;
    margin-bottom: 48px;
    list-style: none;
}
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    width: 264px;
}
.overview_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.overview_text_title {
    font-weight: 400;
    font-size: 15px;
    line-height: 151%;
    letter-spacing: 0.02em;
    color: #434455;
}
.ul_list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 72px;
    list-style: none;
    padding-left: 0;
}
.li_item_tec {
    background-color: #F4F4FD;
    padding: 12px 24px;
    border-radius: 4px;
    font-weight: 500;
    color: #4D5AE5;
    border: 1px solid #E7E9FC
}
.li_item_tec:hover {
    background-color: #404BBF;
    color: #FFFFFF;
    border-color: transparent;
}
.step {
    display: flex;
    gap: 24px;
    
    margin-bottom: 192px;
    list-style: none;
    padding-left: 0;
}
.li_step {
    border-radius: 0 0 4px 4px;
    padding: 16px 16px 72px 16px;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    
    
}
.step_chislo {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 38px;

}
.chislo_p{
    border-radius: 50%;
    color: white;
}
.step_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-align: center;
}
.step_text {
    text-align: center;
            color: #434455;
            letter-spacing: 0.02em;
            line-height: 1.5;
}

.outcomes {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.outcomes_list {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    list-style: none;
}
.outcomes_item {
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    padding: 32px 16px;
    text-align: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.outcomes_rashet {
    font-size: 36px;
    font-weight: 700;
    color: #4D5AE5;
    margin-bottom: 8px;
}
.outcomes_text {
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.testimonials {
    
}
.key_section{
    
}
.testimonial-otziv {
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    padding: 32px 16px;
    margin-bottom: 24px;
    position: relative;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.testimonial_text {
    font-style: italic;
    margin-bottom: 16px;
    position: relative;
    padding-left: 24px;
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
}
.testimonial_author {           
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.testimonial_dolsno {
    font-size: 16px;
    color: #8E8F99;
    letter-spacing: 0.02em;
    text-align: center;
}
.btn_testimonials {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
}
.btn_contact {
    border-radius: 4px;
    padding: 16px 51px 16px 32px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
}
.btn_view {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-decoration: underline;
    color: #4d5ae5;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    padding: 16px 32px;
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 296px;
        padding: 0 16px;
        margin: 0 auto;
    }
    
    .header_wrapper {
        padding: 16px 0;
        margin-left: 150px;
    }
    
    .nav_list {
        display: none;
    }
    
    .address_list {
        display: none;
    }
    
    .image_portfolio {
        padding: 72px 0;
        margin-bottom: 60px;
        background-position: center;
    }
    
    .h1 {
        font-size: 36px;
        line-height: 1.11;
        margin-bottom: 16px;
    }
    
    .text_image_portfolio {
        font-size: 14px;
        max-width: 100%;
    }
    
    .btn_image_portfolio {
        margin-top: 32px;
    }
    
    .overview {
        padding: 48px 0;
    }
    
    .h2_title {
        font-size: 28px;
        margin-bottom: 48px;
    }
    
    .overview_ul {
        flex-direction: column;
        gap: 48px;
        margin-bottom: 48px;
    }
    
    .icon-container {
        width: 100%;
    }
    
    .ul_list {
        justify-content: center;
        margin-bottom: 48px;
    }
    
    .step {
        flex-direction: column;
        gap: 48px;
        margin-bottom: 72px;
    }
    
    .li_step {
        width: 100%;
    }
    
    .key_section .step {
        flex-direction: column;
        gap: 48px;
        margin-bottom: 72px;
    }
    
    .outcomes {
        padding: 48px 0;
    }
    
    .outcomes_list {
        flex-direction: column;
        gap: 32px;
        margin-bottom: 48px;
    }
    
    .outcomes_item {
        width: 100%;
    }
    
    .testimonial-otziv {
        padding: 24px 16px;
    }
    
    .btn_testimonials {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
    
    .portfolio {
        padding: 48px 0;
    }
    
    .port_inf {
        flex-direction: column;
        gap: 48px;
    }
    
    .port_list_item {
        width: 100%;
    }
    
    .footer {
        padding: 48px 0;
    }
    
    .footer_wrap {
        flex-direction: column;
        gap: 48px;
        text-align: center;
    }
    
    .footer_info_left, 
    .footer_info_right, 
    .footer_form_wrapper {
        width: 100%;
    }
    
    .footer_icon_list {
        justify-content: center;
    }
    
    .footer_form {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
    
    .footer_form_input {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .container {
        max-width: 768px;
        padding: 0 16px;
    }
    
    .header_wrapper {
        padding: 16px 0;
        margin-left: 150px;
    }
    
    .logo {
        margin-right: 120px;
    }
    
    .address_list {
        flex-direction: column;
        gap: 12px;
    }
    
    .address_list_item a {
        font-size: 12px;
    }
    
    .image_portfolio {
        padding: 96px 0;
        margin-bottom: 96px;
    }
    
    .h1 {
        font-size: 48px;
    }
    
    .text_image_portfolio {
        max-width: 80%;
        margin: 0 auto;
    }
    
    .overview_ul {
        flex-wrap: wrap;
        gap: 24px;
    }
    
    .overview_ul > li {
        width: calc((100% - 24px) / 2);
    }
    
    .ul_list {
        justify-content: flex-start;
    }
    
    .step {
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: 96px;
    }
    
    .li_step {
        width: calc((100% - 24px) / 2);
    }
    
    .key_section .step {
        flex-wrap: wrap;
        gap: 24px;
    }
    
    .outcomes {
        padding: 96px 0;
    }
    
    .outcomes_list {
        flex-wrap: wrap;
        gap: 24px;
    }
    
    .outcomes_item {
        width: calc((100% - 24px) / 2);
    }
    
    .portfolio {
        padding: 96px 0;
    }
    
    .port_inf {
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    
    .port_list_item {
        width: calc((100% - 24px) / 2);
    }
    
    .footer_wrap {
        flex-wrap: wrap;
        gap: 72px 24px;
        width: 584px;
    }
    
    .footer_info_left, 
    .footer_info_right {
        text-align: left;
    }
    
    .footer_form {
        flex-direction: row;
        gap: 24px;
    }
    
    .footer_form_input {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
    
    .header_wrapper {
        padding: 24px 0;
        margin-left: 150px;
    }
    
    .logo {
        margin-right: 76px;
    }
    
    .address_list {
        flex-direction: row;
        gap: 40px;
    }
    
    .address_list_item a {
        font-size: 16px;
        line-height: 150%;
    }
    
    .image_portfolio {
        padding: 120px 0;
        margin-bottom: 150px;
    }
    
    .overview_ul {
        display: flex;
        gap: 24px;
    }
    
    .overview_ul > li {
        width: calc((100% - 72px) / 4);
    }
    
    .step {
        display: flex;
        gap: 24px;
        margin-bottom: 192px;
    }
    
    .li_step {
        width: 264px;
    }
    
    .outcomes {
        padding: 120px 0;
    }
    
    .outcomes_list {
        display: flex;
        gap: 24px;
    }
    
    .outcomes_item {
        width: calc((100% - 72px) / 4);
    }
    
    .portfolio {
        padding: 120px 0;
    }
    
    .port_inf {
        display: flex;
        gap: 24px;
    }
    
    .port_list_item {
        width: calc((100% - 48px) / 3);
    }
    
    .footer {
        padding: 100px 0;
    }
    
    .footer_wrap {
        display: flex;
        align-items: baseline;
        gap: 0;
    }
    
    .footer_info_left {
        margin-right: 120px;
    }
    
    .footer_info_right {
        margin-right: 80px;
    }
}
